body{
    max-width: 1500px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    
}

.title{
    background-color: black;
    color: #fff;
    padding: 25px 20px;
}
.para{
    text-align: justify;
}
.connect_with{
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}
.post_btn{
    background-color: #000;
    border-radius: 1.5rem;
}
.post_link{
    color: #fff;
    text-decoration: none;
    padding: 50px;
    font-size: 1.5rem;
}
.post_btn:hover{
    background-color: #fff;
}
.post_link:hover{
    color: #000;
}

.fa-clock-three{
    color: #000;
}
.icon{
    display: flex;
   
}
.bi-hand-thumbs-down,
.reply,
.bi-heart{
    padding-left: 1rem;
}
.reply{
    opacity: .6;
    color: #000;
}
.time{
    opacity: .6;
}
.icon_size_share{
    font-size: 1.5rem;
}
.icon_pad{
    padding-left: .675rem;
}
@media screen and (max-width:767px){
    .para{
        margin-left: 15px;
        margin-right: 15px;
    }
    .title{
        line-height: 40px;
    }
    
}